@import "~bulma/sass/utilities/initial-variables.sass";

@import "style-vars.scss";

@import "~bulma/bulma.sass";

html { height: 100%; }

body {
    min-height: 100%;
    background: rgb(225,225,238);
    background: linear-gradient(53deg, rgba(225,225,238,1) 0%, rgba(246,249,237,1) 100%);
}

.button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
 }

.button.is-multiline .icon {
    margin: 0! important;
}