$primary: rgb(30, 30, 75);
$link: rgb(5, 69, 113);
$highlight: rgb(153, 95, 18);
$family-primary: 'hero-new', sans-serif;
$family-secondary: 'freight-micro-pro', serif;

$shadow-popper: rgba(250, 233, 158, 0.7);
